langchain-openai
langchain-ollama
langchain-huggingface
langchain-core
langchain
langchain-community
langgraph
python-dotenv
python-json-logger
pyodbc
streamlit
fastapi
uvicorn
pytest
fastapi[standard]
sentence-transformers
sqlglot